.container{
    width: 90vw;
    display:flex;
}
.panel{
    width: 200px;
    height: 80vh;
    background-size: cover;
    border-radius: 20px;
    flex:1;
    transition:flex 0.7s ease-in;
    margin:10px;
}
.active{
    flex:5;
}
@media (max-width:780px){
    .container{
        width: 100vw;
    }
    .container :last-child{
        display:none;
    }
}